<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="prismatic_fr3_duo_ros2_control" params="name initial_positions_file use_isaac:=false">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${use_isaac}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/isaac_joint_commands</param>
                    <param name="joint_states_topic">/isaac_joint_states</param>
                </xacro:if>
                <xacro:unless value="${use_isaac}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:unless>
            </hardware>
            <joint name="left_fr3_joint1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_fr3_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_fr3_joint3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_fr3_joint4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_fr3_joint5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_fr3_joint6">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="left_fr3_joint7">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_fr3_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint1">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint2">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint3">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint4">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint5">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint6">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="right_fr3_joint7">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_fr3_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="base_slider_joint">
                <command_interface name="position"/>
                <command_interface name="velocity"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['base_slider_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>


initial_positions:
  base_slider_joint: 0
  left_fr3_joint1: 0
  left_fr3_joint2: -0.7853981633974483
  left_fr3_joint3: 0
  left_fr3_joint4: -2.356194490192345
  left_fr3_joint5: 0
  left_fr3_joint6: 1.5707963267948966
  left_fr3_joint7: 0.7853981633974483
  right_fr3_joint1: 0
  right_fr3_joint2: -0.7853981633974483
  right_fr3_joint3: 0
  right_fr3_joint4: -2.356194490192345
  right_fr3_joint5: 0
  right_fr3_joint6: 1.5707963267948966
  right_fr3_joint7: 0.7853981633974483